
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if(TempData["AlertType"] != null && TempData["AlertMessage"] != null)
{

<div class='notifications'></div>

<script>
    var alertMessage = "@Html.Raw(TempData["AlertMessage"])";
    var alertType = "@Html.Raw(TempData["AlertType"])"

    toastr.options =
    {
        "closeButton" : true,
        "progressBar" : true,
        "positionClass": "toast-top-center",
    }

    if(alertType == "success"){
        toastr.success(alertMessage);
    }
    else if (alertType == "error"){
        toastr.error(alertMessage);
    }
    else if (alertType == "info"){
        toastr.info(alertMessage);
    }
    else if (alertType == "warning"){
        toastr.warning(alertMessage);
    }
</script>
}